.corinthia-regular {
    font-family: "Corinthia", serif;
    font-weight: 400;
    font-style: normal;
}
  
.corinthia-bold {
    font-family: "Corinthia", serif;
    font-weight: 700;
    font-style: normal;
}
  
.great-vibes {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}