:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-orange: #ff9d39;
    --color-invitation: #f4cda6;
    --color-orange-dark: #efbd72;
    --overlay-color: rgba(10, 59, 55, 0.81);
    --color-green: #2B5551;
    --color-light-green: #a5b7b6;
    --color-light-grey: #E9EEED;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html, body, .page-wrapper {
    height: 100%;
    position: relative;
    margin: 0;
}

/* Estilo para la barra de scroll completa */
::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra vertical */
    height: 6px; /* Altura de la barra horizontal */
}

/* Estilo del fondo del scrollbar */
::-webkit-scrollbar-track {
    background: #f0f0f0; /* Color del fondo */
    /* background: var(--light-blue); */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilo del "thumb" (la parte desplazable) */
::-webkit-scrollbar-thumb {
    background: var(--light-blue); /* Color del thumb */
    border-radius: 4px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde opcional */
}

/* Cambiar el color del thumb cuando esté en hover
::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

/* Cambiar el color del thumb cuando está activo (dragging) */
/* ::-webkit-scrollbar-thumb:active { 
    background: #333;
} */

.text-invitation {
    color: var(--color-invitation);
}
  
.text-green {
    color: var(--color-green);
}
  
.text-orange {
    color: var(--color-orange);
}
  
.text-orange-dark {
    color: var(--color-orange-dark);
}
  
.text-gris {
    color: var(--color-light-grey);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    opacity: 1; /* Opacidad completa al inicio */
    visibility: visible; /* Visible al inicio */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transición suave */
}

/* Estado oculto del preloader (fade-out) */
#preloader.hidden {
    opacity: 0; /* Se desvanece */
    visibility: hidden; /* Se hace invisible */
}

.main-content {
    position: fixed;
    background-image: url(../img/bg.jpg);
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

/* Inicialmente oculto */
#main-content, #page-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}

/* Estilo cuando se muestra */
#main-content.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-content.visible,
#page-content.visible {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
}


#page-content.visible {
    display: block;
}

.btn-music {
    position: fixed;
    bottom: 2vh !important;
    right: 2vh !important;
    z-index: 1055 !important;
}

@keyframes spin-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-button {
    animation: spin-icon 5s linear infinite;
}

/* Define las animaciones */
@keyframes rotate-right {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes rotate-left {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
}

  /* Estilo para el primer path (rota hacia la derecha) */
#path1 {
    animation: rotate-right 4s linear infinite; /* Rotación completa en 4 segundos */
    transform-origin: 50% 50%; /* Punto de rotación centrado */
}

  /* Estilo para el segundo path (rota hacia la izquierda) */
#path2 {
    animation: rotate-left 4s linear infinite; /* Rotación completa en dirección opuesta */
    transform-origin: 50% 50%;
}


.text-orange-dark {
    color: var(--color-orange-dark) !important;
}
  
  /* CSS */
.hero_text h1 {
    font-size: 210px; /* Changed */
    margin-bottom: 0;
}
    
.hero_main_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* width: 80%;
        max-width: 90%; Combined */
    margin: auto; /* Combined */
}
  
.hero_image {
    width: 400px;
    margin: auto;
    height: 400px;
    z-index: 2;
}
  
.hero_image img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
}

.image-ring {
    position: relative;
    z-index: 9;
    height: 100%;
}
  
.image-ring svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    left: 0;
    fill: var(--color-orange) !important;
}

.hero_text h1 {
    color: var(--color-orange-dark);
}
  
.hero_main_image,
.hero_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}
  
  /* Pseudo-elements */
.hero_image:before,
.hero_image:after {
    content: "";
    background-size: contain;
    width: 235px;
    height: 238px;
}
  
.hero_image:before {
    background-image: url(../img/svg/flowers-left.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-position: top left;
    top: -50px;
    left: -110px;
}
  
.hero_image:after {
    background-image: url(../img/svg/flowers-right.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-position: top right;
    bottom: -50px;
    right: -140px;
}

.hero_text,
.hero_main_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero_text h1 {
    font-size: 210px;
    color: var(--color-orange-dark);
    margin-bottom: 0;
}
  
.hero_image {
    width: 400px;
    margin: auto;
    height: 400px;
    z-index: 2;
}
  
.hero_image img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-clip-path: polygon(
      25% 7%,
      75% 7%,
      100% 50%,
      75% 95%,
      25% 95%,
      0% 50%
    );
    height: 100%;
}
  
.container-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}


#portada {
    height: 100%;
}

#second-section {
    min-height: 100%;
}

#portada,
#second-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PORTADA */
#portada {
    background: url('/assets/img/033_ok_v3.jpeg') no-repeat center/cover;
    background-position: center right;
    background-size: cover;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.3)),
        to(rgba(0, 0, 0, 0))
      ),
      url(../img/033_ok_v3.jpeg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
      url(../img/033_ok_v3.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
      url(../img/033_ok_v3.jpeg);
    background-repeat: no-repeat;  
}


#portada h1 {
    font-size: calc(3.8rem + 1.5vw);
    margin-bottom: 0;
}
  
#portada h2 {
    font-size: calc(4.6rem + 1.5vw);
    margin-bottom: 0;
}
  
/* #portada #portada-text {
    margin-left: 10%;
} */
/* FIN PORTADA */

/* SECOND SECTION */
#second-section {
    position: relative;
}
#second-section::before {
    content: "";
    position: absolute;
    background-image: url(../img/esquina-izq.png);
    background-repeat: no-repeat;
    width: 354px;
    height: 300px;
    left: 0;
    top: 0;
    z-index: -1;
    background-size: contain;
}
  
#second-section img {
    width: 75%;
    /* filter: drop-shadow(0px 0px 6px var(--overlay-color));
    -webkit-filter: drop-shadow(0px 0px 6px var(--overlay-color)); */
}
  
#second-section .image-overlay {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background: linear-gradient(to top, white, transparent);
    height: 40%; /* Ajusta esto para cambiar el tamaño del overlay */
}
  
#second-section .day-number {
    font-size: 10rem;
    font-weight: bold;
    color: var(--color-orange);
    margin: 0;
    line-height: 1;
}

/* FIN SECOND SECTION */

/* THIRD SECTION */
#third-section {
    background-color: #fafad6;
    overflow: hidden;
}

.ceremonia-img {
    height: 100%;
    /* background: url('../img/iglesia_v2.jpg') no-repeat center/cover; */
    box-shadow: 4px 13px 28px 1px var(--color-green);
    border-radius: 20px;
    overflow: hidden;
    max-height: 400px;
}

#third-section .ceremonia-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    max-height: 400px;
}

.svg-top-separator,
.svg-bottom-separator {
    /* fill: var(--color-bg-green);
    fill: #cfd5bf; */
    fill: #fafad6;
}


#third-section .ceremonia::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/ceremonia-left-leaf.svg);
    width: 324px;
    height: 328px;
    /* top: -45px; */
    left: -135px;
}

#third-section .celebracion::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/ceremonia-left-leaf.svg);
    width: 324px;
    height: 328px;
    /* top: -45px; */
    right: -135px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
/* FIN THIRD SECTION */



/* FOURTH SECTION */
/* -------------------------- */
.save_date_section {
    position: relative;
    background-image: url(../img/073_ok.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
  
.save_date_section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlay-color);
    z-index: 0;
    /* opacity: 0.8; */
}

.save_date_section h2.animate-gradient-text {
    /* text-shadow: 0px 0px 6px #000000; */
    font-size: 5.5rem;
}
  
.save_date_section:before {
    background-image: url(../img/golden-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 160px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
  
.save_date_section:after {
    background-image: url(../img/golden-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 140px;
    height: 173px;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
}
  
.about_single_sep {
    display: inline-flex;
    width: 70px;
    height: 6px;
    background: transparent linear-gradient(90deg, #8D6B35 0%, #C9974C 30%, #FCC270 60%, #C9974C 100%) 0% 0% no-repeat padding-box;
    border-radius: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
}
  
.main-countdown {
    text-align: center;
    display: flex;
    justify-content: center;
}
  
.main-countdown ul {
    display: inline-flex;
    list-style-type: none;
    width: 80%;
    justify-content: center;
    align-items: center;
    color: var(--color-orange-dark);
    /* font-family: 'Cinzel Decorative', cursive; */
    font-weight: 600;
    margin: 0px;
    padding-left: 0;
}
  
.main-countdown ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0;
    font-size: 25px;
}
  
.main-countdown ul li span {
    font-size: 100px;
    font-family: 'Beau Rivage', cursive;
    color: var(--color-orange-dark);
    font-weight: 400;
}
/* -------------------------- */

/* FIN FOURTH SECTION */

/* Media Queries */
@media (max-width: 1550px) {
    .hero_text h1 {
      font-size: 140px;
      z-index: 9;
    }
    .hero_image {
        width: 320px;
        height: 320px;
    }
    .main-countdown ul li span,
    #countdown2 ul li span {
        font-size: 80px;
    }
}
  
@media (max-width: 1440px) {
    .hero_text h1 {
        font-size: 110px;
    }
}
  
@media (max-width: 1280px) {
    #second-section img {
        width: 90%;
    }
    /* #second-section::before {
        width: 234px;
        height: 200px;
    } */
    .main-countdown ul li span,
    #countdown2 ul li span {
        font-size: 60px;
    }
}
  
@media (max-width: 1024px) {
    .hero_text h1 {
        font-size: 100px;
    }
  
    .hero_image {
        width: 300px;
        height: 300px;
    }
  
    .hero_image:before {
        width: 150px;
        height: 150px;
        top: -25px;
        left: -70px;
    }
  
    .hero_image:after {
        width: 150px;
        height: 150px;
        bottom: -25px;
        right: -85px;
    }
}
  
@media (max-width: 991px) {
    .hero_text h1 {
        font-size: 80px;
    }
    
    .hero_main_image {
        max-width: 70%;
    }  

    .save_date_section:before,
    .save_date_section::after {
        width: 90px;
        height: 110px;
    }
    .main-countdown ul li span,
    #countdown2 ul li span {
        font-size: 50px;
    }
  
    .main-countdown ul li,
    #countdown2 ul li {
        font-size: 20px;
    }
}
  
@media (max-width: 768px) {
    /* PORTADA */
    #portada h1 {
        font-size: calc(2.6rem + 1vw);
    }
    
    #portada h2 {
        font-size: calc(3.2rem + 1vw);
    }
    /* FIN PORTADA */

    /* SECOND SECTION */
    /* #second-section::before {
        width: 154px;
        height: 130px;
    } */

    #second-section img {
        width: 60%;
    }
    /* FIN SECOND SECTION */
    
    /* THIRD SECTION */
    /* FIN THIRD SECTION */

    /* FOURTH SECTION */
    .save_date_section h2.animate-gradient-text {
        font-size: 3rem;
    }

    .main-countdown ul li span,
    #countdown2 ul li span {
        font-size: 32px;
    }

    .main-countdown ul,
    #countdown2 ul {
        width: 100%;
    }
    /* FIN FOURTH SECTION */
}
  
@media (max-width: 576px) {
    .hero_image {
        width: 250px;
        height: 250px;
    }
    .main-countdown ul li,
    #countdown2 ul li {
        font-size: 13px;
    }
  
    .main-countdown ul li {
        margin: 0 5px;
    }
}
  
@media (max-width: 480px) {
    .hero_image {
        width: 100%;
        height: 100%;
      /* width: 150px;
      height: 150px; */
    }
    .hero_image:before {
        width: 100px;
        height: 100px;
        top: 0;
        left: -25px;
    }
    .hero_image:after {
        width: 100px;
        height: 100px;
        bottom: 0;
        right: -35px;
    }
    
    #third-section .ceremonia::before {
        left: -180px;
    }
    #third-section .celebracion::before {
        right: -180px;
    }
}
  
@media (max-width: 390px) {
    /* .hero_image {
      width: 150px;
      height: 150px;
    } */
  
    .hero_text h1 {
        font-size: 60px;
    }
}

/*--------*/

.animate-gradient-text {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #c1b38e, #cdbca2, #dfd0a5);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: gradient 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 243, 213, 0.5);
    -webkit-animation: gradient 5s linear infinite;
}

.animate-gradient-gray-text {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #818181, #cfcfcf, #818181);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: gradientGray 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(129, 129, 129,0.5);
    -webkit-animation: gradientGray 5s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}


@keyframes gradientGray {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}
/*--------*/